body {
  color: white;
  font-family: monospace;
}

a {
  color: #ffffff;
  font-style: bold;
}

table {
  border: 2px solid white;
  border-spacing: 0;
}

td {
  padding:.3rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #282a4d;
  font-style: white;
  text-align: center;
  padding: .3rem;
}

.footer.a {
  font-style: white;
}
